ion-card {
  margin-top: 15%;
}

ion-content, ion-toolbar, ion-header {
  --background: linear-gradient(to left, #29313c , #485663);
}

ion-button {
  --background: #2cc197;
  margin-top: 20px;
  margin-bottom: 20px;
}

ion-card-header {
  display: flex;
  justify-content: center;
}

.input-block {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

ion-back-button {
  color: white;
}