<ion-header>
  <ion-toolbar>
    <ion-title>Nova meta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label position="stacked">Descrição</ion-label>
    <ion-input size="block" [(ngModel)]="goal.description"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Valor</ion-label>
    <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" [(ngModel)]="goal.value">

  </ion-item>


  <ion-item lines="none" >
    <ion-label position="stacked">Data de vencimento</ion-label>
    <ion-datetime id="recurrenceDate" displayFormat="DD/MM/YY" [min]="minDate" [max]="maxDate" [(ngModel)]="goal.deadline" placeholder="Selecione uma data"></ion-datetime>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="create()">Cadastrar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
