<ion-header>
  <ion-toolbar>
    <ion-title>Nova despesa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label position="stacked">Descrição</ion-label>
    <ion-input size="block" [(ngModel)]="expense.description"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Valor</ion-label>
    <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" [(ngModel)]="expense.value">

  </ion-item>

  <ion-item lines="none" >
    <ion-label position="stacked">Data de recorrência</ion-label>
    <ion-datetime id="recurrenceDate" displayFormat="DD/MM/YY" [(ngModel)]="expense.recurrence_date" placeholder="Selecione uma data"></ion-datetime>
  </ion-item>

  <ion-item id="checkRecurrence" lines="none">
    <ion-label>Esse gasto é recorrente</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="isChecked" (click)="changeRecurrence()"></ion-checkbox>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="create()">Cadastrar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
