ion-toolbar {
  color: white;
  display: flex;
  --background: linear-gradient(to left, #29313c , #485663);
}


ion-header {
  margin-bottom: 10px;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

ion-item{
  position: relative;
  color: #b2b5bc;
  font-weight: bold;
  --background: #f5f9fc;
  font-size: 18px;
  width: 100%;
}

#checkRecurrence {
  font-weight: normal;
  width: 100%;
  color: black;
  font-size: 1rem;
}

#checkRecurrence ion-checkbox {
  margin-right: 10px;
}


ion-content {
  --background: #f5f9fc ;
  display: flex;
  justify-content: center;
}

input, ion-datetime, ion-input {
  margin: 12px;
  color: #69696D;
  font-size: 15px;
}

input {
  background-color: #f5f9fc;
  border: none;
}

input:focus {
  outline: none;
}


ion-button {
  margin-top: 30px;
  width: 90%;
  height: 105%;
  --background: #2cc197;
}

ion-col {
  display: flex;
  justify-content: center;
}

ion-button {
  text-transform: none;
}
