<div id="top-bar">
  <div id="header">
    <ion-label>Saldo na sua conta</ion-label>
    <ion-title>R$ {{ this.account.value }}</ion-title>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-card-title>{{ this.goal.description }}</ion-card-title>
      <ion-progress-bar value="{{ this.goal.current_value / this.goal.value}}"></ion-progress-bar>
      <span>
          <h3>R$ {{ this.goal.current_value }} de R$ {{ this.goal.value }} </h3> <h3 id="price">{{ (this.goal.current_value * 100) / this.goal.value}}% completo</h3>
      </span>
    </ion-card-content>
  </ion-card>
</div>

