#top-bar {
  background-image: linear-gradient(to left, #29313c , #485663);
  width: 100%;
  height: 36%;
  display: flex;
  flex-direction: column;
}


#header {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

#header ion-title, #header ion-label {
  color: white;
}

#header ion-title {
  font-size: 14px;
}

ion-progress-bar {
  min-width: 15%;
  --progress-background: #2cc197;
  --background: #dbe6f0;
  white-space: nowrap;
  overflow: hidden;
  padding: 6px;
  border-radius: 20px;
}


ion-card-title {
  font-size:16px;
  margin-bottom: 10px;
}


h3 {
  color: #a3a4aa;
  font-size: 13px;
  margin-top: 8px;
  font-weight: bolder;
}

ion-card-content {
  margin-left: 5px;
}

ion-card span {
  display: inline-flex;
  width: 100%;
}

#price {
  position: absolute;
  right: 5%;
}
