ion-progress-bar {
  --progress-background: #2cc197;
  --background: #dbe6f0;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  border-radius: 20px;
  margin: 0 auto 0 auto;
  width: 92%;
}

ion-item{
  color: #b2b5bc;
  font-weight: bold;
  --background: #f5f9fc;
  font-size: 18px;
  width: 100%;
}

ion-content {
  --background: #f5f9fc;
  display: flex;
  justify-content: center;
  justify-items: center;
}

input, ion-input {
  color: #69696D;
  font-size: 15px;
}

input {
  background-color: #f5f9fc;
  border: none;
}

input:focus {
  outline: none;
}

ion-button {
  position: relative;
  margin-top: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: none;
  --background: #2cc197;
}

ion-header {
  text-align: center;
  margin-bottom: 10px;
}

ion-toolbar {
  --background: linear-gradient(to left, #29313c , #485663);
  color: white;
}

ion-header ion-title {
  font-size: 14px;
}

h3 {
  color: #a3a4aa;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 10px;
  font-weight: bolder;
}

#goal {
  width: 100%;
}

#goal span {
  display: inline-flex;
  margin-left: 5px;
  width: 100%;
}

#price {
  position: absolute;
  right: 5%;
}

