<ion-content [fullscreen]="true">
  <div id="top-bar">
    <div id="header">
      <ion-label>Saldo na sua conta</ion-label>
      <ion-title>R$ {{ this.account?.value }}</ion-title>
    </div>

    <ion-card *ngIf="goal; else noneGoal">
      <ion-card-content>
        <ion-card-title>{{ this.goal?.description }}</ion-card-title>
        <ion-progress-bar value="{{ this.goal?.current_value / this.goal?.value}}"></ion-progress-bar>
        <span>
          <h3>R$ {{ this.goal?.current_value }} de R$ {{ this.goal?.value }} </h3> <h3 id="price">{{ (this.goal?.current_value * 100) / this.goal?.value}}% completo</h3>
      </span>
      </ion-card-content>
    </ion-card>

    <ng-template #noneGoal>
      <ion-card  routerLink="/create-goal">
        <ion-card-content>
          <ion-card-title>Você não possui metas ativas</ion-card-title>
          <ion-progress-bar value="0"></ion-progress-bar>
          <span>
          <h3>Clique no card para criar uma nova meta</h3>
      </span>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>

  <div id="container">
    <div id="transactions">
      <ion-list>
        <ion-list-header>
          <ion-label>Últimas transações</ion-label>
        </ion-list-header>
        <ion-spinner  name="dots" *ngIf="isPending | async"></ion-spinner>
        <div *ngIf="transactions?.length">
          <ion-item *ngFor="let transaction of transactions">
            <span>
              <h3>{{ transaction.description }}</h3>
              <h4>{{ transaction.created_at }}</h4>
            </span>

            <div class="price">
              <ion-label *ngIf="transaction.value < 0; else gain" color="danger">- R${{ transaction.value * - 1}}</ion-label>
              <ng-template #gain>
                <ion-label color="success">R${{ transaction.value }}</ion-label>
              </ng-template>
            </div>
          </ion-item>

          <div *ngIf="transactions.length > 0">
            <ion-item id="more">
          <span>
            <a routerLink="/transactions">Mais transações</a>
          </span>
            </ion-item>
          </div>
        </div>

        <div *ngIf="!(isPending | async) && transactions.length === 0">
          Você ainda não possui nenhuma transação
        </div>
      </ion-list>
    </div>
  </div>


</ion-content>

