<ion-content [fullscreen]="true">
  <app-top-bar></app-top-bar>

  <div id="container">
    <div id="transactions">
      <ion-list>
        <ion-list-header>
          <ion-label>Últimas transações</ion-label>
        </ion-list-header>
        <ion-spinner  name="dots" *ngIf="isPending | async"></ion-spinner>
        <div *ngIf="transactions?.length">
          <ion-item *ngFor="let transaction of transactions">
            <span>
              <h3>{{ transaction.description }}</h3>
              <h4>{{ transaction.created_at }}</h4>
            </span>

            <div class="price">
              <ion-label *ngIf="transaction.value < 0; else gain" color="danger">- R${{ transaction.value * - 1}}</ion-label>
              <ng-template #gain>
                <ion-label color="success">R${{ transaction.value }}</ion-label>
              </ng-template>
            </div>
          </ion-item>

          <div *ngIf="transactions.length > 0">
            <ion-item id="more">
          <span>
            <a routerLink="/transactions">Mais transações</a>
          </span>
            </ion-item>
          </div>
        </div>

        <div *ngIf="!(isPending | async) && transactions.length === 0">
          Você ainda não possui nenhuma transação
        </div>
      </ion-list>
    </div>
  </div>


</ion-content>

